pkgbase = raph-ananicy-git
	pkgdesc = Ananicy - is Another auto nice daemon, with community rules support
	pkgver = 2.1.0.r12.g38eb477
	pkgrel = 1
	url = https://github.com/raphielscape/Ananicy.git
	install = raph-ananicy-git.install
	arch = any
	license = GPL3
	makedepends = git
	makedepends = make
	depends = systemd
	depends = bash
	depends = schedtool
	depends = python
	backup = etc/ananicy.d/ananicy.conf
	source = raph-ananicy-git::git+https://github.com/raphielscape/Ananicy.git#branch=master
	md5sums = SKIP

pkgname = raph-ananicy-git

